@model RiskApplication.Models.RiskViewModel
@{
    ViewBag.Title = "Index";
}


<label style="color:red">@ViewBag.Message</label>
<h2>Upload Bets</h2>

@using (Html.BeginForm("UploadBets", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))

{
    <div>
    <div class="form-group">
        <label for="FileUpload1">CSV File</label>
        <input type="file" id="FileUpload1" name="FileUpload1" />
    </div>

     <input type="submit" class="btn btn-primary" id="Submit" name="Submit" value="Submit" />

    </div>

}
<br />
<br />
<div>
    <table class="table table-striped">
        <tr>
            <td>
                Uploaded Settled Bets
            </td>
            <td>
                Uploaded UnSettled Bets
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => modelItem.SettledFileName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.UnSettledFileName)
            </td>
        </tr>
    </table>

</div>